doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/authstyles.css')

    //firebase


  // main content
  body
    block content


    // move this script to own file when done :)
    script(type="module" src="./javascripts/auth.js")







// for server side access to id
//https://firebase.google.com/docs/auth/admin/manage-cookies