append head 
  link(rel='stylesheet', href='/stylesheets/footer.css')

.footer 
  .links
    h2: a(href="/about") About
    h2 |
    // this image is very slow. future me dont be lazy and just get a local file for it...
    h2: a(href="https://github.com/gabebnz/BandHub"): img(src="/images/github.svg")