extends layout

block content
  .hero
    h1 Join 
      span Bands

    h1 Create 
      span Music

    h1 Discover 
      span Artists  
    
  .discoverprev 
    h1 What's 
      span new?
 
    .boxoutercontainer 
      h2 Bands looking for members
      .boxinnercontainer
        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago
        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago
        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago
        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago
        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago
        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago
        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago
        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago

    .boxoutercontainer
      h2 Musicians looking for bands
      .boxinnercontainer
        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago

        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago

    .boxoutercontainer
      h2 Discover highlights
      .boxinnercontainer
        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago

        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago

        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago

        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago

  //SCRIPTS
  script(src='/javascripts/sidescroll.js')


