extends layout

block content
  -
    // Variable Preparation + time calculator
    function getTime(ms){
      const today = Date.now()
      const date = ms
      const difference = Math.abs(date-today)/1000;
      var finalTime="";

      if(difference < 3600){
        const minutes = Math.floor(difference / 60) % 60;
        finalTime = minutes + ((minutes > 1) ? " minutes ago" : " minute ago");
      }
      else if(difference < 86400){ // <1 day
        const hours = Math.floor(difference / 3600) % 24;
        finalTime = hours + ((hours > 1 || hours == 0) ? " hours ago" : " hour ago")
      } 
      else{
        const days = Math.floor(difference / 86400);
        finalTime = days + ((days > 1) ? " days ago" : " day ago")
      }
      console.log(finalTime)
      return finalTime;
      
    }


  .hero
    h1 Join 
      span Bands

    h1 Create 
      span Music

    h1 Discover 
      span Artists  
    
  .discoverprev 
    h1 What's 
      span new?
 
    .boxoutercontainer 
        .boxinnercontainer
            if posts != null
              each post in posts.slice(0,3)
                  a(class="box" href="/posts/"+post.id)
                      h1= post.title
                      h2: span= post.user
                      p= post.description + "..."
                      h3= getTime(post.created)
            else 
                h3 There are no posts :(

    .boxoutercontainer
      h2 Musicians looking for bands
      .boxinnercontainer
        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago

        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago

    .boxoutercontainer
      h2 Discover highlights
      .boxinnercontainer
        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago

        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago

        .box 
          h1 Title looking for title 
          h2: span Example band 
          p This is a bunch of information about this band and what we play :) ok.
          h3 4 hours ago