
doctype html
html
  head
    title= title
    link(rel="shortcut icon" href="./images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/main.css')


  //draws navbar
  include navbar

  // main content
  body
    block content

    script(type="module" src="./javascripts/auth.js")
  
  include footer
