append head 
  link(rel='stylesheet', href='/stylesheets/nav.css')

.navbar 
  .title 
    h1: a(href="/") Band
      span Hub
    p: span nz

  .links
    h2: a(href="/home") Find bands/members 
    h2: a(href="/discover") Discover 

    if ! authed 
      h2: a(href="/login") Login 
      h2: a(href="/signup") 
        span Signup 

    if authed 
      h2: a(href="/profile/"+user.uid) 
        span Profile  