extends layout 

block append head 
    link(rel='stylesheet', href='/stylesheets/post.css')

block append scripts 
    script(type="module" src="/javascripts/posts.js")

block content 
    h1 #{post.title}
    p post user: #{postUser.name}
    p post user phone: #{postUser.phone}
    p post user email: #{postUser.email}