extends altlayout

block content 
    .flexcontainer
        .formcontainer
            .title 
                h1 Band
                    span Hub
                p: span nz 
            
            .form

            .footer 
