extends altlayout

block content 
    .flexcontainer
        .formcontainer
            .title 
                h1: a(href="/") Band
                    span Hub
                p: span nz 

            form(class="signup"  autocomplete="off")
                input(placeholder="Email" type="email" name="email" autofocus)
                input(placeholder="Password" type="password" name="password"  autocomplete="new-password")
                input(placeholder="Confirm Password" type="password" name="password2")
                .inner 
                    p(class='error-text-hide' id='err-text') ERROR TEXT :)
                    button(type="submit") Signup
            
            p Already have an account? 
                a(href="/login"): span Login

            .footer 
                include footer