@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}
 
* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #f2f2f2;
}

html{
  padding-left: 20vw;
  padding-right:20vw;
}

@media only screen and (max-width:1750px){
  html{
    padding-left: 10vw;
    padding-right:10vw;
  }
}




/* for coloring anything yellow */
span{
  color:#FCEA46;
}

body {
  display:block;
  font-family: 'Poppins', sans-serif;
  background: #242424;
  color: #f2f2f2;
  
  width:100%;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:calc(70vh - 13vh);
}

.hero h1{
  font-size: 5rem;
}

.discoverprev{
  display: flex;
  flex-direction: column;
  align-items: center;
  height:130vh;
  padding-top:30px;
  height:auto;
  justify-content: space-evenly;
}

.boxoutercontainer{
  display:flex;
  flex-direction: column;
  margin-top:40px;
  flex:1;
  width:100%;
}

.boxinnercontainer{
  display:flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  gap: 20px;

  height:100%;
  width:100%;

  margin-top:5px;
  border-radius: 12px;

  padding:15px;
  
  background: #141414;
}

.personalboxinnercontainer{
  display:flex;
  
  align-items: center;

  overflow-x: auto;

  gap: 20px;

  height:100%;
  width:100%;

  margin-top:5px;
  border-radius: 12px;

  padding:15px;
  
  background: #141414;
}

.box{
  display:flex;
  flex-direction: column;
  flex:1;
  border-radius: 10px;

  min-width: 49%;

  height:200px;

  padding:10px;

  background: #242424;

  overflow: hidden;

  transition: 0.3s;
}

.box:hover{
  background: #353535;
  transition: 0.3s;
  cursor: pointer;
}

.box h1{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 1.5rem;
}
.box h2{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}
.box h3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #919191;
  font-size: 0.8rem;
}
.box p{
  white-space: pre-line;
  font-size: 0.85rem;
  height:65%;
  bottom: 0;
  overflow:hidden;
}