.navbar{
    display:flex;
    position: sticky;
    background: #242424;
    top:0;

    align-items: center;

    height:13vh;
}


h1{
    font-size: 3rem;
}

.title{
    display:flex;
    flex:1;
    align-items: baseline;
}

.title p{
    font-size: 0.8rem;
}


