.p3{
    font-size: 0.95rem;
    margin-top: -10px;
    color: #f2f2f2ad;
}

.postcontainer{
    display:flex;
    flex-direction: column;

    width:70%;
    height:100%;
}

.description{
    margin-top:15px;
    white-space: pre-line;
}

.contactsection{
    margin-top:25px;
}

.contactsection h3{
    color: #f2f2f2ad;
    font-size:1rem;
    margin-bottom:-10px;
}
.contactsection h2{
    font-size:2rem;
}

.addBox{
    display:flex;
    justify-content:space-around;
    align-items: center;

    border-radius: 10px;
    height:70px;
    width: 200px;
    padding:10px;

    background: #353535;
    transition: 0.3s;
    cursor: pointer;

    transition: 0.3s;
}

.addBox h1{
    font-size: 1.5rem;
}

.addBox p{
    transition: 0.3s;
    font-size: 1.5rem;
}