.profileContainer{
    display: flex;
    flex:1;
    align-items: stretch;
    width:100%;
    height:100%;
}

.profileRight{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    align-items: center;
    justify-content: flex-start;
    max-width: 175px;
}

.profileRight img{
    width:100%;
    
    border-radius: 5000px; 
    margin-bottom: 20px;
}

.profileMiddle{
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    padding-left: 40px;
    padding-right:40px;
}

.profileMiddle h1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profileLeft{
    display:flex;
    flex-direction: column;
    flex-grow:1;

    max-width: 300px;
}

.profileLeft h2{
    margin-bottom: 15px;
}

.bandLink{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:15px 15px 15px 0px;
    width:100%;
    margin-bottom: 10px;

    transition:0.3s;
}

.bandLink:hover{
    color: #fcea46;
}

.bandLink img{
    width:15%;
    border-radius: 500px;
    min-width: 15%;

    opacity: 0.8;
    transition: 0.3s;
}

.bandLink:hover img{
    opacity: 1;
}

.bandLink p{
    margin-left:15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profileRight a{
    width: 75%;
}

.profileRight button{
    width:100%;
    margin-bottom: 15px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color:#f2f2f2;
    background: none;
    border:none;
    border-bottom:1px solid #f2f2f2;
    padding:10px;
    padding:15px;

    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    transition: 0.3s;
}

.profileRight button:hover{
    cursor: pointer;
    border-bottom:1px solid #FCEA46;

}

.profileRight button:active{
    cursor: pointer;
    color:#FCEA46;
    border-bottom:1px solid #FCEA46;

}