.profileContainer{
    display: flex;
    flex:1;
    align-items: stretch;
    width:100%;
    height:100%;
}

.profileRight{
    display:flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: flex-start;
    max-width: 175px;
}

.profileRight img{
    width:100%;
    
    border-radius: 5000px; 
    margin-bottom: 20px;
}

.p3{
    font-size: 0.8rem;
    margin-top: -10px;
    color: #f2f2f2ad;
}

.profileMiddle{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-left: 40px;
    padding-right:40px;
}

.profileMiddle h1{
    font-size: 3rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description{
    margin-top:25px;
    white-space: pre-line;
    min-height: 150px;
    max-height:400px;
    max-width:1000px;
    overflow-y: auto;
}

.profileLeft{
    display:flex;
    flex-direction: column;
    

    max-width: 300px;
}

.profileLeft h2{
    margin-bottom: 15px;
}

.bandLink{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:15px 15px 15px 0px;
    width:100%;
    margin-bottom: 10px;

    transition:0.3s;
}

.bandLink:hover{
    color: #fcea46;
}

.bandLink img{
    width:15%;
    border-radius: 500px;
    min-width: 15%;

    opacity: 0.8;
    transition: 0.3s;
}

.bandLink:hover img{
    opacity: 1;
}
 
.bandLink p{
    margin-left:15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profileRight a{
    width: 75%;
}

.profileRight button{
    width:100%;
    margin-bottom: 15px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color:#f2f2f2;
    background: none;
    border:none;
    border-bottom:1px solid #f2f2f2;
    padding:10px;
    padding:15px;

    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    transition: 0.3s;
}

.profileRight button:hover{
    cursor: pointer;
    border-bottom:1px solid #FCEA46;

}

.profileRight button:active{
    cursor: pointer;
    color:#FCEA46;
    border-bottom:1px solid #FCEA46;

}

.logout:hover{
    cursor: pointer;
    border-bottom:1px solid #fc4646 !important;

}

.logout:active{
    cursor: pointer;
    color:#fc4646 !important;
    border-bottom:1px solid #fc4646 !important;

}



.socialIcons{
    display:flex;
    margin-top: 15px;
    width:100%;
    gap:20px;
}

.socialIcons img{
    width:25px;
    opacity: 0.8;
    transition: 0.3s;
}

.socialIcons img:hover{
    opacity: 1;
}

.favouriteArtists{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    width:100%;
}

.favouriteArtists h1{
    font-size: 1rem;

}

.list{
    display: flex;
    width:100%;
    max-width: 600px;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-top:5px;
    gap: 10px;
}

.list p{
    font-size: 0.8rem;
    margin:0;
    padding:10px;
    border-radius: 10px;
    background: #353535;
    overflow: hidden;
    transition: 0.3s;
}